<form action="#" th:action="@{/stock/formulario}" th:object="${stock}" method="post">
    <label for="total">Total:</label>
    <input type="number" th:field="*{total}" required/>

    <label for="producto">Producto:</label>
    <select name="productoId"> <!-- Cambia aquí -->
        <option th:each="producto : ${productosList}"
                th:value="${producto.id_p}"
                th:text="${producto.nombre}">Producto</option>
    </select>

    <label for="cantidad">Cantidad:</label>
    <input type="number" th:field="*{cantidad}" required/>

    <button type="submit">Guardar</button>
</form>
