<!DOCTYPE html>
<html lang="en">
<head>
    <title>Formulario de Pizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header>
    <h1>Formulario de Producto Pizza</h1>
</header>

<div>
    <a href="/tabla">Volver a la Lista de Productos</a>
    <section>
        <h2>Nuevo Pizza</h2>

        <form th:action="@{/tabla/form}" method="post" th:object="${producto}">
       
            <div>
                <label>ID:</label>
                <input type="number" placeholder="ID" th:field="*{id_p}" readonly="readonly">
            </div>

          
            <div>
                <label>Nombre:</label>
                <input type="text" placeholder="Ingrese el nombre" th:field="*{nombre}">
            </div>

       
            <div>
                <label>Precio:</label>
                <input type="number" step="0.01" placeholder="Ingrese el precio" th:field="*{precio}">
            </div>

          
            <div>
                <label>Ingredientes:</label>
                <input type="number" placeholder="Ingrese la cantidad de ingrediente" th:field="*{ingredientes}">
            </div>

            <button type="submit">Guardar</button>
        </form>
    </section>
</div>

</body>
</html>
