<!DOCTYPE html>
<html lang="en">
<head>
    <title>pizza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<input type="checkbox" id="menu-toggle"/>
<label for="menu-toggle"></label>
<ul id="menu">
    <li><a href="/tabla">Pizza</a></li>
    <li><a href="/tabla/form">pizaa-Formulario</a></li>
    <li><a href="stock/tabla">stock -tabla</a></li>
    <li><a href="stock/formulario">stock -tabla</a></li>
</ul>

<header>
    <h1>Lista de Pizzas</h1>
</header>

<section>
    <h2>Docentes Disponibles</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Ingredientes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${tablas}">
            <td th:text="${producto.id_p}"></td>
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.ingredientes}"></td>
            <td>
                <a th:href="@{/tabla/editar/{id}(id=${producto.id_p})}">Editar</a>
                <a th:href="@{/tabla/eliminar/{id}(id=${producto.id_p})}">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</section>

</body>
</html>
